# Shared
LOG_LEVEL=INFO

# Server A
TELEGRAM_BOT_TOKEN=telegram_bot_token_here
BALE_BOT_TOKEN=bale_bot_token_for_server_a_here
BALE_API_BASE=https://tapi.bale.ai
BALE_CHAT_ID=123456789
A_WORK_DIR=data/server_a

# Server B
# You can reuse BALE_BOT_TOKEN variable when running server B, or set this then export BALE_BOT_TOKEN=$BALE_BOT_TOKEN_B
BALE_BOT_TOKEN_B=bale_bot_token_for_server_b_here
B_WORK_DIR=data/server_b
FILE_HOST=0.0.0.0
FILE_PORT=8080
PUBLIC_BASE_URL=http://your-server-b-public-ip:8080
